*{
    padding: 0;
    margin: 0;
}
header{
    display: grid;
    grid-template-columns: 20vw 5vw 50vw 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 8vh;
    background-color: rgb(247, 101, 59);
}
header a{
    text-decoration: none;
    color: white;
}
.search{
    grid-area: 1/3/1/4;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 90%;
    height: 50%;
}
.title{
    grid-area: 1/1/1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}
menu{
    display: grid;
    grid-template-columns:  20vw 3fr 25vw;
    grid-template-rows: 2vw repeat(4, 1fr);
    width: 100vw;
    height: 84vh;
}
.menuLateral{
    grid-area: 1/1/4/1;
    text-decoration: none;
}
.menuLateral ul{
    padding-left: 3vw;
}
.menuLateral a{
    text-decoration: none;
}
.menuLateral li{
    padding-top: 2vh;
    list-style-type: none;
}
.video-1{
    grid-area: 2/2/5/2;
}
.video-1 video{
    width: 90%;
}
.video-2{
    grid-area: 2/3/2/3;
    display: flex;
    justify-content: center;
}
.video-2 img{
    max-height: 15vh;
}
.video-3{
    grid-area: 3/3/3/3;
    display: flex;
    justify-content: center;
}
.video-3 img{
    max-height: 15vh;
}
.button{
    grid-area: 5/2/5/2;
    display: flex;
    justify-content: flex-end;
}
button{
    width: 5vw;
    height: 2vh;
}
footer{
    background-color: rgb(247, 101, 59);
    color: white;
    display:flex;
    width: 100vw;
    height: 8vh;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 400px){
    menu{
        grid-template-columns: 1fr;
        grid-template-rows: 1 fr;
    }
    h1{
        font-size: 11px;
    }
    input{
        height: 30%
    }
}